body {
    margin-top: 100px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 100px;
    font-size: 16px;
    color: #404040;
    background-color: #FDFDFD;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    line-height: 2;
}

main {
    max-width: 1200px;
    margin:  0 auto;
}

@media screen and (max-width: 480px) {
    body {
        margin-top: 52px;
        margin-right: 5%;
        margin-left: 5%;
        font-size: 15px;
        margin-bottom: 36px;
        color: #404040;
        background-color: #FDFDFD;
        font-family: 'Helvetica Neue', 'Arial', sans-serif;
        line-height: 2;
    }
}

.imageicon {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-bottom: 0px;
}

@media screen and (max-width: 480px) {
    .imageicon {
        border-radius: 50%;
        height: 120px;
        width: 120px;
        margin-bottom: 0px;
    }
}

div.imageiconparent {
    height: 180px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    div.imageiconparent {
        height: 120px;
        text-align: center;
    }
}

/** 共通 */
p.title {
    margin-top:20px;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
    font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
}

@media screen and (max-width: 480px) {
    p.title {
        margin-top: 8px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-align: center;
        font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    }
}

p.subtitle {
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 0px;
    letter-spacing: 0.1em;
    font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
}

@media screen and (max-width: 480px) {
    p.subtitle {
        border: none;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-top: 32px;
        margin-bottom: 0px;
        letter-spacing: 0.025em;
        font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    }
}

p.subtitle.skill {
    font-size: 30px;
    margin-top: 100px;
}

@media screen and (max-width: 480px) {
    p.subtitle.skill {
        font-size: 20px;
        margin-top: 48px;
    }
}

hr.divider {
    margin-top: 0px;
    background-color: #DDDDDD;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    hr.divider {
        margin-top: 0px;
        background-color: #DDDDDD;
        margin-bottom: 8px;
    }
}

/** ヘッダー部分 */
/** リンク */
div.link {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 52px;
}

@media screen and (max-width: 480px) {
    div.link {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 12px;
    }
}

/** リンクの画像ボタン */
.imagebutton {
    vertical-align: middle;
    height: 28px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 480px) {
    .imagebutton {
        vertical-align: middle;
        height: 20px;
        width: auto;
        margin-left: 8px;
        margin-right: 8px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

/** プロフィール情報 */
p.profile {
    font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
}

@media screen and (max-width: 480px) {
    p.profile {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    }
}

img.profileicon {
    vertical-align: middle;
    height: 20px;
    width: auto;
}

@media screen and (max-width: 480px) {
    img.profileicon {
        vertical-align: middle;
        height: 16px;
        width: auto;
    }
}

/* Works */
ul {
    padding-left: 0;
}

td.appicon {
    width: 96px;
    height: 96px;
}

@media screen and (max-width: 480px) {
    td.appicon {
        width: 64px;
        height: 64px;
    }
}

img.appicon {
    vertical-align: middle;
    width: 96px;
    height: 96px;
}

@media screen and (max-width: 480px) {
    img.appicon {
        vertical-align: middle;
        width: 64px;
        height: 64px;
    }
}

p.appname {
    margin-bottom: 2px;
    margin-top: 16px;
    font-size: 20px;
    line-height: normal;
}

@media screen and (max-width: 480px) {
    p.appname {
        margin-bottom: 2px;
        margin-top: 8px;
        font-size: 16px;
        line-height: normal;
    }
}

li {
    float: left;
    list-style: none;
}

li.block {
    background-color: #BFDDFF;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: normal;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: fit-content;
    display: inline-block;
    _display: inline;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

@media screen and (max-width: 480px) {
    li.block {
        background-color: #BFDDFF;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: normal;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
        width: fit-content;
        display: inline-block;
        _display: inline;
    }
}

/* Skills */
p.skill {
    font-size: 26px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 68px;
}

@media screen and (max-width: 480px) {
    p.skill {
        font-size: 22px;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
}

.pie {
    display: flex;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 28px;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .pie {
        display: flex;
        margin-left: 14px;
        margin-right: 14px;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 76px;
        border-radius: 50%;
    }
}

.pie.pie25 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 25%, #d9d9d9 25% 100%);
}

.pie.pie50 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 50%, #d9d9d9 50% 100%);
}

.pie.pie75 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 75%, #d9d9d9 75% 100%);
}

.pie.pie100 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 101%, #d9d9d9 100% 100%);
}

p.skill-name {
    text-align: center;
    margin-top: 8px;
}

@media screen and (max-width: 480px) {
    p.skill-name {
        text-align: center;
        margin-top: 8px;
        font-size: 14px;
    }
}