body {
    margin-top: 100px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 100px;
    color: #444444;
    background-color: #FDFDFD;
    font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    float: left;
    list-style: none;
}

p.sentence {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

li.block {
    background-color: #BFDDFF;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    width: fit-content;
    font-size: 80%;
    display: inline-block;
    _display: inline;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}