body {
    margin-top: 100px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 100px;
    color: #404040;
    background-color: #FDFDFD;
    font-family: "Noto Sans JP", "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
}

p.title {
    font-size: 180%;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 0px;
    border: none;
    letter-spacing: 0.1em;
}

hr.divider {
    margin-top: 0px;
    background-color: #DDDDDD;
    margin-bottom: 20px;
}

.imagebutton {
    vertical-align: middle;
    height: 28px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

p.sentence {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Works */

p.sentence.appname {
    margin-bottom: 2px;
    margin-top: 16px;
    font-size: 120%;
}

ul {
    padding-left: 0;
}

li {
    float: left;
    list-style: none;
}

li.block {
    background-color: #BFDDFF;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    width: fit-content;
    display: inline-block;
    _display: inline;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/* Skills */
.pie {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 28px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.pie.pie25 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 25%, #d9d9d9 25% 100%);
}

.pie.pie50 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 50%, #d9d9d9 50% 100%);
}

.pie.pie75 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 75%, #d9d9d9 75% 100%);
}

.pie.pie100 {
    background-image: radial-gradient(#fdfdfd 62%, transparent 63%), conic-gradient(#00d761 0% 100%, #d9d9d9 100% 100%);
}

p.sentence.skill-name {
    font-size: 125%;
    text-align: center;
    margin-top: 16px;
}